.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aqua;
}


.liveTimer{
  font-size: 25px;
}
.audio{
 opacity: 0;
}
.timeWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
  box-shadow:0px 0px 3px 2px gray;
  padding:20px;
  border-radius: 10px;
  background-color: rgb(209, 245, 233);
}